#hs_main, #hs_canvas {
	float:left;
	width:800px;
	height:600px;
	position:relative;
}
#hs_canvas {
	top:0px;
	left:0px;
	position:absolute;
	/*border:1px solid red;*/
}
#hs_left, #hs_right {
	width:150px;
	height:600px;
	float:left;
	margin:0px;
}
#hs_left {
	background-image:url('../img/background_left.jpg');
}
#hs_right {
	width:650px;
	background-image:url('../img/background05.jpg');
}
#hs_board {
	width:634px;
	height:580px;
	margin:9px 0px 0px 0px;
	border:1px solid gray;
}
#hs_scores {
	width:130px;
	height:598px;
	border:1px solid gray;
	float:left;
	padding:5px;
}
#hs_scores_inner {
	width:120px;
}

#debug {
	height:340px;
	width:130px;
	margin:4px;
	border:1px solid gray;
	overflow:auto;
	color:white;
	/*background-color:black;*/
}

