{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}himesama/css/game.css" />
{% endblock %}


{% block "content" %}
<div id="hs_main" width="800" height="600">
 <div id="hs_left">
  <div id="debug">
  </div>
 </div>
 <div id="hs_right">
  <div id="hs_board">
  </div>
 </div>
<canvas id="hs_canvas" width="800" height="600">
</canvas>
</div>
{% endblock %}


{% block scripts %}
  <script type="text/javascript">
var gamemode = '{{ gamemode }}';
  </script>
  <script type="text/javascript" src="{{ MEDIA_URL }}himesama/js/jquery.inherit.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}himesama/js/libhtml5.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}himesama/js/game.js"></script>
{% endblock %}
