{% extends "base.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ MEDIA_URL }}himesama/css/game.css" />
{% endblock %}


{% block "content" %}
{% ifequal gamemode 'editor' %}
  <br>
  <input type="button" value="save" onclick="saveLevel()">
{% endifequal %}
<div id="hs_main" width="800" height="600">
 <div id="hs_left">
  <div id="debug">
  </div>
 </div>
 <div id="hs_right">
  <div id="hs_board">
  </div>
 </div>
<canvas id="hs_canvas" width="800" height="600">
</canvas>
</div>
<div id="hs_scores">
  <h2>High Scores</h2>
  <p>Profile: {{ fbp.first_name }}</p>
  <div id="hs_scores_inner">
  </div>
</div>
{% endblock %}


{% block scripts %}
  <script type="text/javascript">
$(document).ready( function() {
	game = new HSGame( 'hs_canvas', '{{ gamemode }}', '{{ level }}', {{x_coins}}, {{y_coins}} );
	snds['win'] = game.preloadSound( "win.ogg" );
	snds['loose'] = game.preloadSound( "loose.ogg" );
	snds['free'] = game.preloadSound( "dropgood.ogg" );
	snds['xplosionbig'] = game.preloadSound( "xplosionbig.ogg" );
	snds['fire'] = game.preloadSound( "fire.ogg" );
	snds['fire2'] = game.preloadSound( "fire.ogg" );
	/*
	snds['fire'].addEventListener( 'ended', function() {debug("ended");}, false );
	snds['fire'].addEventListener( 'pause', function() {debug("pause");}, false );
	snds['fire'].addEventListener( 'empty', function() {debug("empty");}, false );
	snds['fire'].addEventListener( 'error', function() {debug("error");}, false );
	snds['fire'].addEventListener( 'play', function() {debug("play");}, false );
	snds['fire'].addEventListener( 'suspend', function() {debug("suspend");}, false );
	snds['fire'].addEventListener( 'waiting', function() {debug("waiting");}, false );
	snds['fire'].addEventListener( 'emptied', function() {debug("emptied");}, false );
	snds['fire'].addEventListener( 'abort', function() {debug("abort");}, false );
	snds['fire'].addEventListener( 'seeked', function() {debug("seeked");}, false );
	*/
	//images = ["wall.png""stone1.png""stone2.png""stone3.png""stone4.png""stone5.png""hime.png""coin.png""breakable.png""el1.png""el2.png""el3.png""el4.png""el5.png""white_stone.png""bomb.png""eraser.png"];
	game.preloadImage( "wall.png" );
	game.preloadImage( "stone1.png" );
	game.preloadImage( "stone2.png" );
	game.preloadImage( "stone3.png" );
	game.preloadImage( "stone4.png" );
	game.preloadImage( "stone5.png" );
	game.preloadImage( "hime.png" );
	game.preloadImage( "coin.png" );
	game.preloadImage( "breakable.png" );
	game.preloadImage( "el1.png" );
	game.preloadImage( "el2.png" );
	game.preloadImage( "el3.png" );
	game.preloadImage( "el4.png" );
	game.preloadImage( "el5.png" );
	game.preloadImage( "white_stone.png" );
	game.preloadImage( "bomb.png" );
	game.preloadImage( "eraser.png" );
	game.init();
	game.loadLevel();
} );
  </script>
  <script type="text/javascript" src="{{ MEDIA_URL }}himesama/js/jquery.inherit.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}himesama/js/libhtml5.js"></script>
  <script type="text/javascript" src="{{ MEDIA_URL }}himesama/js/game.js"></script>
{% endblock %}
